<a href="https://colab.research.google.com/github/imtheguna/PySpark-Learning/blob/GoogleColab/11_PySpark_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()
!pip install pyspark

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,839 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,082 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,372 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,457 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,118 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,374 kB]
Fetched 11.5 MB in 4s (2,927 kB/s)
Reading package lists... Done
sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=e0730425a25e29bbf3a2c45c53fffd712d5a0780111bbb873b156010e608e84a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
      .builder \
      .appName('SelectColumns').getOrCreate()


df1 = spark.createDataFrame([(1,'Guna'),(2,'Arun'),(3,'Pavi')],['id','name'])

df2 = spark.createDataFrame([(1,23),(4,23),(3,30)],['id','age'])

df1.show()
df2.show()

+---+----+
| id|name|
+---+----+
|  1|Guna|
|  2|Arun|
|  3|Pavi|
+---+----+

+---+---+
| id|age|
+---+---+
|  1| 23|
|  4| 23|
|  3| 30|
+---+---+

In [17]:
## Inner Join
"""An inner join returns rows from both dataframes that have matching keys.
    In other words, it returns only the rows that have common keys in both dataframes. """

df_inner = df1.join(df2,on=['id'],how='inner')

df_inner.show(5)

+---+----+---+
| id|name|age|
+---+----+---+
|  1|Guna| 23|
|  3|Pavi| 30|
+---+----+---+

In [18]:
## Outer Join
"""An outer join, also known as a full join, returns all rows from both dataframes.
    If a key is present in one dataframe but not in the other, the missing values are filled with nulls. """

df_inner = df1.join(df2,on=['id'],how='outer')

df_inner.show(5)

+---+----+----+
| id|name| age|
+---+----+----+
|  1|Guna|  23|
|  3|Pavi|  30|
|  2|Arun|null|
|  4|null|  23|
+---+----+----+

In [19]:
## Left Join
"""A left join returns all rows from the left dataframe and the matched rows from the right dataframe.
    If no match is found for a key in the right dataframe, the result will contain null values."""

df_inner = df1.join(df2,on=['id'],how='left')

df_inner.show(5)

+---+----+----+
| id|name| age|
+---+----+----+
|  1|Guna|  23|
|  3|Pavi|  30|
|  2|Arun|null|
+---+----+----+

In [20]:
## Right Join
"""A right join returns all rows from the right dataframe and the matched rows from the left dataframe.
  If no match is found for a key in the left dataframe, the result will contain null values."""

df_inner = df1.join(df2,on=['id'],how='right')

df_inner.show(5)

+---+----+---+
| id|name|age|
+---+----+---+
|  1|Guna| 23|
|  3|Pavi| 30|
|  4|null| 23|
+---+----+---+

In [21]:
## Left Semi Join
"""A left semi join returns only the columns from the left dataframe for the rows with matching keys in both dataframes.
  It is similar to an inner join but only returns the columns from the left dataframe."""

df_inner = df1.join(df2,on=['id'],how='left_semi')

df_inner.show(5)

+---+----+
| id|name|
+---+----+
|  1|Guna|
|  3|Pavi|
+---+----+

In [22]:
## Left Anti Join
"""A left anti join returns the rows from the left dataframe that do not have matching keys in the right dataframe.
  It is the opposite of a left semi join."""

df_inner = df1.join(df2,on=['id'],how='left_anti')

df_inner.show(5)

+---+----+
| id|name|
+---+----+
|  2|Arun|
+---+----+

In [24]:
## Cross Join
"""A cross join, also known as a cartesian join, returns the cartesian product of both dataframes.
    It combines each row from the left dataframe with each row from the right dataframe."""

df_inner = df1.crossJoin(df2)

df_inner.show()

+---+----+---+---+
| id|name| id|age|
+---+----+---+---+
|  1|Guna|  1| 23|
|  1|Guna|  4| 23|
|  1|Guna|  3| 30|
|  2|Arun|  1| 23|
|  3|Pavi|  1| 23|
|  2|Arun|  4| 23|
|  2|Arun|  3| 30|
|  3|Pavi|  4| 23|
|  3|Pavi|  3| 30|
+---+----+---+---+