<a href="https://colab.research.google.com/github/imtheguna/PySpark-Learning/blob/GoogleColab/4_Select_columns_in_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()
!pip install pyspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,622 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [830 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,798 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,374 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,082 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,069 kB]
Get:16 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Fetched 7,542 kB in 4s (1,994 kB/s)
Reading package lists... Done
sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=c3117d45416746a2e4939599f5b556407907cee2f5406e61bc5b0ddf264e8742
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [37]:
from pyspark.sql import SparkSession

spark = SparkSession \
      .builder \
      .appName('SelectColumns').getOrCreate()

df = spark.read.csv('/content/data2.csv',header=True,inferSchema=True)

df.show(5)

+-------+----------------+-------------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
| period|series_reference|  region_name|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+-------+----------------+-------------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|2020.09|     BDCQ.SED1RA|    Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
|2020.09|     BDCQ.SED1RB|     Auckland|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|
|2020.09|     BDCQ.SED1RC|      Waikato|     198776|             200265|            1489|               0.7|          3041|                  3058|           17|            0.6|
|2020.09|     BDCQ.SED1RD|Bay of Plenty|     127323|             128540|            1217|               1.0|          1881|                  1899|           18|            1.0|
|2020.09|     BDCQ.SED1RE|     Gisborne|      20417|              20632|             215|               1.1|           276|                   279|            3|            1.1|
+-------+----------------+-------------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 5 rows

In [8]:
## Selecting Columns using the ‘[ ]’ Operator

df1 = df.select(df['period'])

df1.show(6)

+-------+
| period|
+-------+
|2020.09|
|2020.09|
|2020.09|
|2020.09|
|2020.09|
|2020.09|
+-------+
only showing top 6 rows

In [10]:
## Select Columns using index

df1 = df.select(df.columns[1])

df1.show(6)

+----------------+
|series_reference|
+----------------+
|     BDCQ.SED1RA|
|     BDCQ.SED1RB|
|     BDCQ.SED1RC|
|     BDCQ.SED1RD|
|     BDCQ.SED1RE|
|     BDCQ.SED1RF|
+----------------+
only showing top 6 rows

In [41]:
## Selecting Columns using the ‘withColumn’ and ‘drop’ Functions
from pyspark.sql.functions import col,split,substring

df = df.withColumn('period_str',col('period').cast('string'))

df.printSchema()


df1 = df.withColumn('Year',substring(col('period_str'),1,4))

df1.show(3)

root
 |-- period: double (nullable = true)
 |-- series_reference: string (nullable = true)
 |-- region_name: string (nullable = true)
 |-- filled jobs: integer (nullable = true)
 |-- filled jobs revised: integer (nullable = true)
 |-- filled jobs diff: integer (nullable = true)
 |-- filled jobs % diff: double (nullable = true)
 |-- total_earnings: integer (nullable = true)
 |-- total earnings revised: integer (nullable = true)
 |-- earnings diff: integer (nullable = true)
 |-- earnings % diff: double (nullable = true)
 |-- period_str: string (nullable = true)

+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+----------+----+
| period|series_reference|region_name|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|period_str|Year|
+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+----------+----+
|2020.09|     BDCQ.SED1RA|  Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|   2020.09|2020|
|2020.09|     BDCQ.SED1RB|   Auckland|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|   2020.09|2020|
|2020.09|     BDCQ.SED1RC|    Waikato|     198776|             200265|            1489|               0.7|          3041|                  3058|           17|            0.6|   2020.09|2020|
+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+----------+----+
only showing top 3 rows

In [43]:
## Selecting Columns using SQL Expressions

df1 = df1.selectExpr('region_name','Year')

df1.show(1)

+-----------+----+
|region_name|Year|
+-----------+----+
|  Northland|2020|
+-----------+----+
only showing top 1 row