<a href="https://colab.research.google.com/github/imtheguna/PySpark-Learning/blob/GoogleColab/6_PySpark_Drop_%26_Rename.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()
!pip install pyspark

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,622 B]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:5 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:6 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [830 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,374 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,069 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,082 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,798 kB]
Fetched 7,542 kB in 4s (1,893 kB/s)
Reading package lists... Done
data2.csv  sample_data	spark-3.1.1-bin-hadoop3.2  spark-3.1.1-bin-hadoop3.2.tgz
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ebca53003e0439f79d140bdd04ce7c2f100479c82ebefd9a55bb4c219fc06a0d
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
      .builder \
      .appName('SelectColumns').getOrCreate()

df = spark.read.csv('/content/data2.csv',header=True,inferSchema=True)

df.show(1)

+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
| period|series_reference|region_name|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|2020.09|     BDCQ.SED1RA|  Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
+-------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 1 row

In [4]:
## Drop single column and Multiple columns and from list

df1 = df.drop('period')

df1.show(2)

df1 = df.drop('series_reference','region_name')

df1.show(2)

drop_columns = ['total_earnings','region_name']

df1 = df.drop(*drop_columns)

df1.show(2)

+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|series_reference|region_name|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|     BDCQ.SED1RA|  Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
|     BDCQ.SED1RB|   Auckland|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|
+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 2 rows

+-------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
| period|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+-------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|2020.09|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
|2020.09|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|
+-------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 2 rows

+-------+----------------+-----------+-------------------+----------------+------------------+----------------------+-------------+---------------+
| period|series_reference|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total earnings revised|earnings diff|earnings % diff|
+-------+----------------+-----------+-------------------+----------------+------------------+----------------------+-------------+---------------+
|2020.09|     BDCQ.SED1RA|      65520|              65904|             384|               0.6|                   959|            6|            0.6|
|2020.09|     BDCQ.SED1RB|     708372|             714506|            6134|               0.9|                 12530|          110|            0.9|
+-------+----------------+-----------+-------------------+----------------+------------------+----------------------+-------------+---------------+
only showing top 2 rows

In [8]:
## Renaming Columns Using ‘withColumnRenamed’

df1 = df.withColumnRenamed('period','period_time')

df1.show(2)

## Renaming Columns Using ‘select’ and ‘alias’

df1 = df.select(col('period').alias('period_time'))

df1.show(2)

## Renaming Columns Using ‘toDF’

df1 = df1.toDF('period')

df1.show(2)

+-----------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|period_time|series_reference|region_name|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+-----------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|    2020.09|     BDCQ.SED1RA|  Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
|    2020.09|     BDCQ.SED1RB|   Auckland|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|
+-----------+----------------+-----------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 2 rows

+-----------+
|period_time|
+-----------+
|    2020.09|
|    2020.09|
+-----------+
only showing top 2 rows

+-------+
| period|
+-------+
|2020.09|
|2020.09|
+-------+
only showing top 2 rows

In [10]:
## Renaming Multiple Columns

df1 = df.withColumnRenamed('period','period_time') \
      .withColumnRenamed('region_name','region')

df1.show(2)

+-----------+----------------+---------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|period_time|series_reference|   region|filled jobs|filled jobs revised|filled jobs diff|filled jobs % diff|total_earnings|total earnings revised|earnings diff|earnings % diff|
+-----------+----------------+---------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
|    2020.09|     BDCQ.SED1RA|Northland|      65520|              65904|             384|               0.6|           953|                   959|            6|            0.6|
|    2020.09|     BDCQ.SED1RB| Auckland|     708372|             714506|            6134|               0.9|         12420|                 12530|          110|            0.9|
+-----------+----------------+---------+-----------+-------------------+----------------+------------------+--------------+----------------------+-------------+---------------+
only showing top 2 rows